body {
	margin: 0em;
	padding: 0em;
	font-family: "Hoefler Text", Baskerville, "Book Antiqua", serif;
}

#header {
  background-color: #555;
  color: white;
  margin: 0em;
  padding: 0.5em 1em 0em 1em;
}

#header h1 {
	margin: 0em 0em 0.5em 0em;
	padding-left: 0.5em;
}

#header ul {
	margin-top: 0em;
	padding-left: 1em;
}

#header ul li {
	display: inline;
	list-style-type: none;
	padding-right: 1em;
}

#header ul li.rsslink img {
    text-decoration: none;
    vertical-align: baseline;
}

#header a:link,
#header a:visited,
#header a:hover,
#header a:active {
  background-color: white;
  text-decoration: none;
  margin: 0.25em;
  padding: 0.25em;
}

#header a:hover {
  text-decoration: underline;
}

.toparticle,
.recentarticle,
.oldarticle {
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

h1.recent {
  font-size: large;
  background-color: #eee;
  margin: 0;
}
.recentarticle {
  font-size: smaller;
  background-color: #eee;
  padding-top: 0.5em;
}

h1.old {
  font-size: smaller;
  background-color: #ddd;
  margin: 0;
}
.oldarticle {
  font-size: smaller;
  background-color: #ddd;
  padding-top: 0.2em;
  padding-bottom: 0em;
}

.recentarticle h2 {
  margin: 0;
}

.recentarticle .morelink a:link,
.recentarticle .morelink a:visited,
.recentarticle .morelink a:hover,
.recentarticle .morelink a:active {
  color: blue;
}


.oldarticle h2 {
  margin: 0;
}

h1.waymore {
  font-size: smaller;
  background-color: #ccc;
  margin: 0;
}

h2.archiveentry {
  display: inline-block;
  width: 13em;
  vertical-align: middle;
}

#content {
	margin: 1em;
	max-width: 40em;
	font-size: normal;
}

#content .post h1 {
  font-size: 18pt;
}

#tagcloud {
	padding: 0em;
}

#tagcloud li {
	display: inline;
	list-style-type: none;
	margin: 0.5em;
	padding: 0em;
}

.archive h1 {
    font-size: 12pt;
}
.archive h2 {
    font-weight: normal;
    font-size: 10pt;
}

#footer {
	background-color: #555;
	color: white;
	margin: 0em;
	padding: 0em;
}
#footer p {
	margin: 0em;
	padding: 1em;
	font-size: smaller;
}
#footer a:link,
#footer a:visited,
#footer a:hover,
#footer a:active {
  color: #cce;
}